body {
	font-size: 24px;
	padding: 0 0.5em;
	font-family: "Monserrat", sans-serif;
}
a {
	color: #000;
}

header {
	text-align: center; 
}

header h1 {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
}

nav a {
	text-decoration: underline;
	color: #000;
	padding: 0 5px;
}

nav a:hover {
	color: #FFF;
	background: #000;
	text-decoration: none;

}

.container {
	min-width: 200px;
	max-width: 768px;
	margin: 0 auto;
}

main h2 {
	font-family: "Oswald", sans-serif;
}

#whoami a {
	text-decoration: none;
}

#whoami div {
	display: inline;
}

.school {
	color: #0064A4;
}

.proj-card {
    height: 30%;
    width: 100%; 
    border: 1px solid #000;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.7em 0; 
}

.proj-name {
    font-family: "Oswald", sans-serif;
	margin: 0;
	padding-bottom: 0.5rem;
    color: #0064A4;
}

.proj-link {
	margin-right: 1rem;
}

.my-email {
	color: #0064A4;
}

.show {
	transition: opacity 1500ms;
}

.hide {
	opacity: 0;
}

#skill-list {
	list-style: none;
	padding: 0 0 0 15px;
}

#skill-list li {
	padding: 5px 0;
}

.contact-info {
	color: #0064A4;
	font-family: "Oswald", sans-serif;
	margin: 0.3em 0;
}

#contact-container {
	border: 1px solid #000;
	border-radius: 7px;
	padding: 5px 0;
	min-width: 200px;
	max-width: 300px;
	margin: 0 auto;
}

#contact-container div:nth-child(1) {
	text-align: center;
	padding: 5px 0;
}

#contact-container div:nth-child(2) {
	text-align: center;
}

#contact-container div:nth-child(1) img {
	border-radius: 50%;
	width: 175px;
}

/* Meh for now */
@media (max-width: 414px) {
	nav a {
		display: block;
		margin: 0.5em;
	}

	#whoami div {
		display: block;
	}
}