<!doctype html> 
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Johnny Valles' introduction, portfolio, articles and contact information.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
	{% include fonts.html %}
	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
	<script src="main.js" defer></script>
	<title>{{ page.title }} | {{ page.desc }}</title>
</head>
<body>
	<header class="container">
		<h1>{{page.title | upcase}}</h1>
		{% include navigation.html %}
		<hr>
	</header>
	<main class="container">
		{{ content }}
	</main>
</body>
</html>